.wrapperPageQuestions {
    animation: circle-in-center 1s ease-in;
}

@keyframes circle-in-center {
    from {
        clip-path: circle(0%);
    }

    to {
        clip-path: circle(125%);
    }
}

[transition-style="in:circle:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}

/*HEADER*/
.headerQuestions {
    height: 268px;
    background: url("../../../assets/image/imgHeader2.jpg");
    background-size: cover;
    background-position: top;
    height: 268px;
    background: url("../../../assets/image/imgHeader2.jpg");
    background-size: cover;
    background-position: top;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: square-in-top-left 2s ease-in-out;
    animation: square-in-top-left 2s ease-in-out;
}



@keyframes square-in-top-left {
    from {
        clip-path: inset(100% 0 0 100%);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

[transition-style="in:square:top-left"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-top-left both;
}



.headerQuestions h1 {
    font-size: 5rem;
    font-size: 5rem;
    font-weight: 800;
    color: white;
    text-shadow: -1px -1px 0 rgb(225, 166, 212);
    text-shadow:
        -1px -1px 0 rgb(128, 127, 127),
        1px -1px 0 #474444,
        -1px 1px 0 rgb(223, 115, 223),
        1px 1px 0 rgb(199, 51, 199);

    font-family: "Great Vibes", cursive;
    font-weight: 600;
    font-style: normal;
    line-height: 3rem;

}

.headerQuestions p {
    font-size: 0.8rem;
    font-weight: 700;
    width: 60%;
    text-align: center;
    color: rgba(238, 238, 238, 0.922);
}

.search {
    width: 50%;
}

.wrapperInfo {
    width: 100%;
    position: relative;
}

.headerQuestions input {
    margin: 20px 0;
    padding: 15px 20px;
    background: white;
    width: 100%;
    border-radius: 20px;
    color: black;
    position: relative;
}

.headerQuestions input::placeholder {
    color: rgb(152, 150, 150);
}

.icSearch {
    color: black;
    font-size: 1.5rem;
    font-weight: 900;
    position: absolute;
    bottom: 26%;
    right: 1%;
    cursor: pointer;
    padding: 10px;
}

.icSearch :hover {
    color: #dc8f8f;
}

/*CONTENT QUESTIONS*/
.container {
    display: flex;
    flex-direction: column;
}

.contentQuestions {
    margin-block: 40px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.card {
    min-width: 100px;
    width: auto;
    height: 80%;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    box-shadow: 0 0 10px rgb(232, 112, 204);
    cursor: pointer;
    display: flex;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(220, 94, 190);
}

.infoCategorie {
    flex: 1;
}

.infoCategorie h2 {
    font-size: 1.2rem;
    font-weight: 800;
    color: #a855f7;
}

.infoCategorie p {
    line-height: 1.2rem;
}

.card img {
    flex: 1;
    width: 50px;
}

/*CONTENT FILTER*/
.questionFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.questionFilter h3 {
    font-size: 2rem;
    width: 100%;
    font-weight: 800;
    text-align: center;
    color: #d344a3;
}

.collapse {
    margin-block: 20px;
    width: 70%;
    font-size: 16px;
    text-align: start;

}

.answers {
    display: flex;
    justify-content: start;
}

/*Animacion del Icono de categorie*/
.wrapperIcon {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: #ea53b8;
    color: #ea53b8;
    padding-block: 20px;
    font-size: 0.8rem;
    font-size: 0.8rem;
}

.iconCategorie {

    font-size: 2rem;

    font-size: 2rem;
    rotate: 270deg;
    animation: move-icon 0.5s infinite alternate;
}

@keyframes move-icon {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-20px);
    }
}

@media(max-width:1080px) {

    .headerQuestions {
        height: 268px;
        background-size: 300%;
        background-position: top;
    }

}

@media (max-width:690px) {


    .headerQuestions {
        height: 220px;
        background-size: 300%;
        background-position: top;
    }

    .contentQuestions {
        padding: 10px;
    }

    .headerQuestions h1 {
        font-size: 3.5rem;
        line-height: 1;
    }
}

@media (max-width:500px) {

    .headerQuestions {
        height: 220px;
        background-size: 300%;
        background-position: top;
    }


    .headerQuestions h1 {
        font-size: 2.5rem;
        line-height: 1;
    }

    /*SEARCH*/

    .search {
        width: 80%;
    }

    .headerQuestions input {
        padding: 12px 15px;
    }

    .headerQuestions input::placeholder {
        font-size: 12px;
    }

    .icSearch {
        font-size: 1rem;
        bottom: 28%;
    }

    /*CONTENT QUESTIONS*/
    .contentQuestions {
        padding: 20px;
    }

    .card {
        padding: 10px;
        box-shadow: 0 0 10px rgb(119, 119, 119);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .infoCategorie h2 {
        font-size: 12px;
    }

    .infoCategorie p {
        line-height: 1rem;
        font-size: 0.7rem;
    }

    .card img {
        width: 40px;
    }

    /*Animacion del Icono de categorie*/
    .wrapperIcon {
        font-size: 10px;
    }

    .iconCategorie {
        font-size: 2rem;
    }

    .collapse {
        margin-block: 20px;
        width: 90%;
        font-size: 16px;
        text-align: start;

    }
}

@media (max-width:370px) {
    .card {
        width: 130px;
    }

    .infoCategorie p {
        font-size: 9px;
    }

}