/*HEADER*/
.headerQuestions {
    height: 45vh;
    background: linear-gradient(to right, #a855f7, #d946ef, #ec4899, #f43f5e, #de8545);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.headerQuestions h1 {
    font-size: 3rem;
    font-weight: 800;
}

.headerQuestions p {
    font-size: 0.8rem;
    font-weight: 700;
    width: 60%;
    text-align: center;
    color: rgba(238, 238, 238, 0.922);
}

.search {
    width: 50%;
}

.wrapperInfo {
    width: 100%;
    position: relative;
}



.headerQuestions input {
    margin: 20px 0;
    padding: 15px 20px;
    background: white;
    width: 100%;
    border-radius: 20px;
    color: black;
    position: relative;
}

.headerQuestions input::placeholder {
    color: rgb(152, 150, 150);
}

.icSearch {
    color: black;
    font-size: 1.5rem;
    font-weight: 900;
    position: absolute;
    bottom: 26%;
    right: 1%;
    cursor: pointer;
    padding: 10px;
}

.icSearch :hover {
    color: #dc8f8f;
}

/*CONTENT QUESTIONS*/
.contentQuestions {
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.card {
    width: 20%;
    height: 80%;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgb(119, 119, 119);
    cursor: pointer;
    display: flex;
}

.infoCategorie {
    flex: 1;
}

.infoCategorie h2 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #a855f7;
}

.infoCategorie p {
    line-height: 1rem;
}

.card img {
    flex: 1;
}