.wrapperOptions{
    display: flex;
    gap: 10px;
}
.EditOption{
    padding: 5px 7px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(216, 168, 36);
    color: white;
}
.EditOption:hover{
    transform: scale(1.1);
}
.DeleteOption{
    padding: 5px 7px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(212, 21, 21);
    color: white;
}
.DeleteOption:hover{
    transform: scale(1.1);
}
