/* Contenedor para el ícono de usuario */
.icon-container {
    position: fixed;
    right: 20px;
    cursor: pointer;
    background-color: #000;
    padding: 15px;
    border-radius: 50%;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1100;
}

.input[readonly] {
    /*contenedor para correo*/
    background-color: #faaee069;
    cursor: not-allowed;
}

.user-icon {
    font-size: 24px;
}

/* Estilos del modal */
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 182, 193, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 21%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(216, 92, 92, 0.2);
    overflow-y: auto;
    position: absolute;
    right: 0;
}

/* Estilo del título */
.modal h2 {
    font-size: 30px;
    font-weight: bold;
    color: rgba(255, 107, 188, 1);
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputGroup {
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button {
    padding: 10px;
    background-color: rgba(255, 107, 188, 1);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.error {
    color: red;
    font-size: 14px;
}

.success {
    color: green;
    font-size: 14px;
}

/*Media Query para Tablets y Móviles */
@media (max-width: 1024px) {
    .modal {
        width: 50%;
        height: auto;
        max-height: 90vh;
        top: 5%;
        bottom: 5%;
        right: auto;
        left: auto;
    }
}

@media (max-width: 768px) {
    .modal {
        width: 90%;
        height: auto;
        max-height: 90vh;
        top: 5%;
        right: auto;
        left: auto;
        border-radius: 16px;
        padding: 15px;
    }

    .modal h2 {
        font-size: 24px;
        text-align: center;
    }

    .input {
        font-size: 14px;
    }

    .button {
        font-size: 14px;
        padding: 8px;
    }

    .icon-container {
        padding: 10px;
        right: 10px;
    }

    .user-icon {
        font-size: 20px;
    }
}