/*CONTENT CATEGORIA*/
.gestionCategorie {
    margin-inline: 40px;
    /*box-shadow: 0 0 5px #c52e84;*/
    border: 1px solid #ebc4da;
    border-radius: 10px;
    padding: 40px;
    height: 310px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.gestionCategorie:hover {
    box-shadow: 0 0 5px #c52e84;
}

.gestionCategorie h2 {
    font-size: 2rem;
    font-family: "Great Vibes", cursive;
    font-style: normal;
    font-weight: 400;
    color: #d44b99;
}

.gestionCategorie section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-block: 20px;
}


.gestionCategorie section label {
    display: flex;
    font-weight: 600;
    font-size: 12px;
    flex-direction: column;

    gap: 5px;
}

.gestionCategorie section input {
    width: 300px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid rgb(172, 172, 172);
}

.gestionCategorie section input::placeholder {
    font-size: 11px;
}

.gestionCategorie section button {
    width: 40%;
    padding: 10px;
    font-size: 13px;
    background: linear-gradient(to right, transparent 50%, #e67cb8 50%);
    background-size: 200%;
    background-position: left;
    transition: all 0.6s ease-in-out;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
}

.gestionCategorie section button {
    background-color: rgb(3, 57, 132);
    color: white;
}

.gestionCategorie section button:hover {
    background-position: right;
    color: white;

}

/*TABLA CATEGORIA */
.tablaCategoria {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    padding-top: 5px;

}

.optionCategorieTable {
    display: flex;
    gap: 5px;
}

.optionCategorieTable i {
    padding: 5px 6px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.optionCategorieTable i:last-child {
    background-color: rgb(3, 57, 132);

}

.optionCategorieTable i:first-child {
    background-color: #d8a713;
}

.optionCategorieTable i:nth-child(2) {
    background-color: rgb(231, 72, 72);
}

.optionCategorieTable i:hover {
    background-color: #c52e84;
}

/*PAGE CATEGORIA */
.pageCategoria {
    display: flex;
    flex-wrap: wrap;
}

.pageCategoria .catContent {
    flex: 1;
}

.pageCategoria .sectionTable {
    flex: 2;
}