.wrapperQuestions{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    height: 85vh;
}
.wrapperQuestions h1{
    font-size: 3rem;
    font-family: "Great Vibes", cursive;
    font-weight: 600;
    font-style: normal;
}
.search :global(.ant-input){
    padding: 8px;
    font-size: 16px;
    border: 1px solid rgb(233, 140, 213);
}
.search :global(.ant-input)::placeholder{
    color: rgb(139, 136, 136);
}

.search :global(.ant-btn){
    background-color: rgb(241, 88, 208);
    padding: 20.6px;
    font-weight: 900;
    color: white;
}
/*BOTON ADD*/
.addOptions{
    position: absolute;
    bottom: 0;
    right: 20px;
    background-color: rgb(214, 21, 182);
    font-size: 22px;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
    animation : move 1s ease-in-out infinite alternate
}
@keyframes move{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(5px)
    }
}
.addOptions:hover{
    box-shadow: 0 0 15px rgb(170, 9, 130);
}